.navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.05rem;
}

.leftBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.rightBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}



.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    
}



.navigation a:hover{

    text-decoration: underline;
    
}

@media (max-width: 767px) {
    .navigation{
        display: grid;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .leftBar{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        
    }
    .rightBar{
        order: -1;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .leftBar a {
        padding: 10px;

    }
    .rightBar a {
        padding: 10px;

    }
}